

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

#header{
    text-align: center;
}

#button{
    margin: 20px 0;
}

#quote-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    gap: 15px;
}

#message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(243, 13, 13);
    width: 20%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#messagetext{
    font-size: 1.5rem;
}

#bar{
    width: 100%;
    height: 30px;
    background-color: rgb(160, 7, 255);
}


@media (max-width: 768px) {
    #quote-container{
        flex-direction: column;
        width: 90vw;
    }

    #message{
        width: 80%;
    }
}
