

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

#header{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#header img {
    max-width: 100%;
    height: auto;
    display: block;
}

#generate-button {
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(247, 4, 4);
    position: relative;
    width: 300px;         /* adjust size */
    height: 50px;        /* adjust size */
    cursor: pointer;    /* shows hand cursor on hover */
    background: black; /* invisible by default */
    border: solid 2px rgb(247, 4, 4); /* red border */
    padding-top: 20px;
}


/* Optional: add a subtle visual cue on hover for testing */
#generate-button:hover {
    background: rgba(220, 5, 5, 0.1); /* slight white overlay */
    border-radius: 10px;
    transition: 0.25s;
}


#quote-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
    padding: 20px;
    background-color: transparent;
    text-align: center;
    gap: 15px;
}


section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    width: 20%;
    padding: 20px;
    
    text-align: center;
    font-size: 2rem;
    font-weight: bold
   
}


#message1{
    position: relative;
    
    transform: rotate(-5deg)
}

#message2{
    position: relative;
  
    transform: rotate(-3deg)
}

#message3{
    position: relative;
    
    transform: rotate(5deg)
}



#messagetext{
    font-size: 1.5rem;
}



@media (max-width: 768px) {
    #quote-container{
        flex-direction: column;
        width: 90vw;
    }

    #message{
        width: 80%;
    }
}
